h1 {
  color: red;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 30px;
}
footer {
  font-size: 7px;
  margin: 2px;
}
header p {
  text-align: center;
}
body {
  max-width: 400px;
  margin: auto;
}
body {
  background-image: url("wJzsAR5xo4xbii8NTbWy4F.jpg");
}
/* comic-neue-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/comic-neue-v9-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
